.nav{
  background: linear-gradient(170deg, #000000a2, #8609e5b5);
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-weight: bold;
}



.nav a{
  padding: 12px;
  transition: all 0.3s;
}

.nav a:hover{
  background-color: #8609e5fb;
}

.nav .logo a{
  padding: 5px;
  font-size: 1.8rem;
  cursor: pointer;
  background: transparent;
}

@media (max-width: 620px) {
  .nav {
    justify-content: center;
  }

  .logo {
    display: none;
  }

}

@media (max-width: 400px){
  .nav a{
    padding: 6px;
  }
}