.body {
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box{
    padding: 60px;
    max-width: 450px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.559);
    border-radius: 10px;
    box-shadow: 1px 3px 8px rgba(230, 219, 219, 0.809);
    box-sizing: border-box;
  }

  .link {
    width: 100%;
    text-align: center;
  }

  .link a{
    color: #fff;
    font-size: 1.8rem;
    padding: 20px;
  }

  .box h2 {
    font-size: 32px;
    color: #fff;
    margin-top: 0;
    text-align: center;
  }

  .box p{
    color: #fff;
  }

  .box a {
    padding: 8px;
    background-color: #8609e5;
    border-radius: 4px;
    transition: 0.3s;
  }

  .box a:hover {
    background-color: transparent;
    border: solid 1px #333;
    cursor: pointer;
  }

  .box img {
    width: 100%;
    height: 80%;
    margin-top: 20px;
  }

  .box input {
    cursor: pointer;
    margin-top: .5rem;
  }

  @media (max-width: 460px) {
    .box{
      padding: 40px;
      max-width: 300px;
      height: 550px;
    }
    .box h2 {
      font-size: 1.3rem;
    }

    .box p {
      margin-bottom: 20px;    
    }

    .box img {
      margin-top: 20px;
    }

    .box input{
      width: 100%;
    }
  }