.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(170deg, #000000a2, #8609e5);
  font-family: Arial, Helvetica, sans-serif;

}

@keyframes error_message {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.error_message{
  color: #fff;
  font-size: 1.2rem;
  border-left: solid 3px red;
  border-right: solid 3px red;
  padding: 2px;
  -webkit-animation: error_message .9s linear infinite;
  -moz-animation: error_message .9s linear infinite;
  -ms-animation: error_message .9s linear infinite;
  -o-animation: error_message .9s linear infinite;
  animation: error_message .9s linear infinite;
}

.login_body {
  padding: 60px;
  max-width: 450px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.559);
  border-radius: 10px;
  box-shadow: 1px 3px 8px rgba(230, 219, 219, 0.809);
  box-sizing: border-box;
}

.login_body h2 {
  font-size: 32px;
  color: #fff;
  margin-top: 0;
  text-align: center;
}

.login_body input {
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
}

.login_body input:hover {
  background-color: #444;
}

.login_body input.ativo{
  border: solid 1px red;
}

.input_box {
  margin-bottom: 25px;
}

.login_body button {
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: #8609e5;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  margin-bottom: 10px;
  transition: 0.3s;
}

.login_body button:active {
  opacity: 0;
  transition: 0.3s
}

.login_body button:hover {
  background-color: transparent;
  border: solid 1px #333;
  cursor: pointer;
}

.support {
  display: flex;
  color: #b3b3b3;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 5px;
}

.support input {
  width: 15px;
  height: 15px;
}

.remember {
  display: flex;
  align-items: center;
}

.remember span {
  margin-right: 5px;
  height: 25px;
  display: flex;
  align-items: center;
}

.help {
  text-decoration: none;
  color: #737373;
  display: flex;
  align-items: center;
}

.help a:hover {
  text-decoration: underline;
}

.sign_up {
  color: #737373;
  font-size: 16px;
}

.sign_up a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.sign_up a:hover {
  text-decoration: underline;
}

.terms {
  color: #737373;
  font-size: 13px;
}

.terms a {
  text-decoration: none;
  color: #0071eb;
}

.terms a:hover {
  text-decoration: underline;
}

@media (max-width: 460px) {
  .login_body {
    width: 300px;
    padding: 30px;
  }

  .login_body input {
    width: 100%;
  }

}